In [1]:
import numpy as np
import pandas as pd

In [2]:
phages_table = pd.read_excel('phages.xlsx')
phages_table

,Organism,Ref Seq,Operon,Genes,Promoter,position,Terminator,Position,Reference,TSS
0,Entereobacteria phage Mu,NC_000929,gem operon,gemA GeneID:2636256; gemB GeneID:2636272,pGEM promoter,(8142..8229),t9.2 terminator,(9166..9206),G. Fabozzi; L. Paolozzi; P. Ghelardini (1998)....,8231.0
1,Entereobacteria phage Mu,NC_000929,Mom operon,Mup54 (gpCom) GeneID:2636254; Mup55 (Mom) Gene...,pMom promoter,(35694..35757),tMom terminator,(36642..36689),Stanley Hattman (1999). Unusual transcriptiona...,NaN
2,Entereobacteria phage Mu,NC_000929,I operon,Mup32 (I) GeneID:2636253; Mup33 (Z) GeneID:263...,pI promoter,(17978..18042),NaN,NaN,"Zha, J; Zhao, Z; Howe, M M (1994). Identificat...",NaN
3,Entereobacteria phage Mu,NC_000929,lys operon,Mup22 GeneID:2636261; Mup23 GeneID:2636265; Mu...,pLyz promoter,(10404..10467),tLys(b) terminator,(17907..17962); (17920..17959),"Zha, J; Zhao, Z; Howe, M M (1994). Identificat...",NaN
4,Entereobacteria phage Mu,NC_000929,P operon,Mup44 (P) GeneID:2636285; Mup45 (gp45) GeneID:...,pP promoter,(27288..27352),tP(G+) terminator; tP(G-) terminator,(33498..33537); (33498..33537),"Zha, J; Zhao, Z; Howe, M M (1994). Identificat...",NaN
5,Entereobacteria phage Mu,NC_000929,middle operon,Mup18 GeneID:2636281; Mup19 GeneID:2636295; Mu...,Pm promoter,(9178..9234),tM terminator,(10370..10416),"Kahmeyer-Gabbe, M; Howe, M M (1996). Regulator...",NaN
6,Enterobacteria phage T7,NC_001604,T7 early operon,gene0.3 GeneID:1261063; gene0.4 GeneID:1261053...,A1 promoter; A2 promoter; A3 promoter; B promo...,(452..508); (579..636); (704..760); (1468..151...,TE terminator,(7552..7591),"Condon, C. (2014). Reference Module in Biomedi...",NaN
7,Enterobacteria phage lambda,NC_001416,phage lambda leftward operon,N GeneID:2703540; orf28 GeneID:2703510; ral Ge...,PI promoter; PL1 promoter; PL2 promoter,complement(29062..29114); complement(35572..35...,tI terminator; tL1 terminator; tL2 terminator;...,complement(27533..27588); complement(34556..34...,"Condon, C. (2014). Reference Module in Biomedi...",NaN
8,Enterobacteria phage lambda,NC_001416,phage lambda rigthward operon,cro GeneID:2703467; cII GeneID:2703494; O Gene...,PR promoter,(37978..38033),tR1 terminator; tR2 terminator,(38294..38335); (40586..40629),"Casjens, Sherwood R.; Hendrix, Roger W. (2015)...",NaN
9,Enterobacteria phage lambda,NC_001416,phage lambda later operon,orf-64 GeneID:2703478; S GeneID:2703479; S' Ge...,PR' promoter,(44542..44598),tR' terminator,(44714..44782),"Casjens, Sherwood R.; Hendrix, Roger W. (2015)...",NaN
10,Enterobacteria phage lambda,NC_001416,lambda rexAB,cI GeneID:3827059; rexa GeneID:3827058; rexb G...,PRM promoter,complement(37930..37985),NaN,NaN,Douglas Fix (1993). The rex genes of lambda pr...,NaN
11,Salmonella phage P22,NC_002371,gtrABC operon,gtrA GeneID:1262849; gtrB GeneID:1262848; gtrC...,promoter,complement(21114..21141),terminator,complement(18214..18245),"Villafane, R., Zayas, M., Gilcrease, E.B. et a...",NaN
12,Salmonella phage P22,NC_002371,PL operon,24 GeneID:1262841; esc GeneID:2944229; sieB Ge...,Promoter,complement(30892..30920),NaN,NaN,"Semerjian, Arlene V.; Malloy, Diane C....",NaN

In [3]:
phages_table.dtypes

Organism       object
Ref Seq        object
Operon         object
Genes          object
Promoter       object
position       object
Terminator     object
Position       object
Reference      object
TSS           float64
dtype: object

# Data from the Reference Table

In [16]:
citations = phages_table['Reference']
citations[0]

'G. Fabozzi; L. Paolozzi; P. Ghelardini (1998).\xa0Regulation of the Bacteriophage MugemOperon. , 241(1), 73–79.\xa0doi:10.1006/viro.1997.8948\xa0'

In [17]:
citations = pd.Series(citations).drop_duplicates().tolist()

In [18]:
citations

['G. Fabozzi; L. Paolozzi; P. Ghelardini (1998).\xa0Regulation of the Bacteriophage MugemOperon. , 241(1), 73–79.\xa0doi:10.1006/viro.1997.8948\xa0',
 'Stanley Hattman (1999).\xa0Unusual transcriptional and translational regulation of the bacteriophage Mu mom operon. , 84(3), 367–388.\xa0doi:10.1016/s0163-7258(99)00042-x\xa0',
 'Zha, J; Zhao, Z; Howe, M M (1994).\xa0Identification and characterization of the terminators of the lys and P transcripts of bacteriophage Mu.. Journal of Bacteriology, 176(4), 1111–1120.\xa0doi:10.1128/jb.176.4.1111-1120.1994\xa0',
 'Kahmeyer-Gabbe, M; Howe, M M (1996). Regulatory factors acting at the bacteriophage Mu middle promoter.. Journal of Bacteriology, 178(6), 1585–1592. doi:10.1128/jb.178.6.1585-1592.1996 ; Characterization of the C operon transcript of bacteriophage Mu.. Journal of Bacteriology, 172(1), 361–371. doi:10.1128/jb.172.1.361-371.1990 ',
 'Condon, C. (2014).\xa0Reference Module in Biomedical Sciences || RNA Processing☆. , (), –.\xa0doi:10.1016/B978-0-12-801238-3.02455-7\xa0',
 'Casjens, Sherwood R.; Hendrix, Roger W. (2015).\xa0Bacteriophage lambda: Early pioneer and still relevant. Virology, 479-480(), 310–330.\xa0doi:10.1016/j.virol.2015.02.010\xa0',
 'Douglas Fix (1993).\xa0The rex genes of lambda prophage modify ultraviolet light and N-methyl-N-nitrosourea-induced responses to DNA damage in Escherichia coli. , 303(4), 143–150.\xa0doi:10.1016/0165-7992(93)90015-n\xa0',
 'Villafane, R., Zayas, M., Gilcrease, E.B.\xa0et al.\xa0Genomic analysis of bacteriophage ε34\xa0of\xa0Salmonella entericaserovar Anatum (15+).\xa0BMC Microbiol\xa08, 227 (2008). https://doi.org/10.1186/1471-2180-8-227',
 '        Semerjian, Arlene V.; Malloy, Diane C.; Poteete, Anthony R. (1989). Genetic structure of the bacteriophage P22 PL operon. , 207(1), 1–13.         doi:10.1016/0022-2836(89)90437-3\xa0    ']

In [74]:
insert_citations = []
for c in citations:
    c = c.replace('\xa0','')
    insert_citations.append(tuple([c]))
insert_citations

[('G. Fabozzi; L. Paolozzi; P. Ghelardini (1998).Regulation of the Bacteriophage MugemOperon. , 241(1), 73–79.doi:10.1006/viro.1997.8948',),
 ('Stanley Hattman (1999).Unusual transcriptional and translational regulation of the bacteriophage Mu mom operon. , 84(3), 367–388.doi:10.1016/s0163-7258(99)00042-x',),
 ('Zha, J; Zhao, Z; Howe, M M (1994).Identification and characterization of the terminators of the lys and P transcripts of bacteriophage Mu.. Journal of Bacteriology, 176(4), 1111–1120.doi:10.1128/jb.176.4.1111-1120.1994',),
 ('Kahmeyer-Gabbe, M; Howe, M M (1996). Regulatory factors acting at the bacteriophage Mu middle promoter.. Journal of Bacteriology, 178(6), 1585–1592. doi:10.1128/jb.178.6.1585-1592.1996 ; Characterization of the C operon transcript of bacteriophage Mu.. Journal of Bacteriology, 172(1), 361–371. doi:10.1128/jb.172.1.361-371.1990 ',),
 ('Condon, C. (2014).Reference Module in Biomedical Sciences || RNA Processing☆. , (), –.doi:10.1016/B978-0-12-801238-3.02455-7',),
 ('Casjens, Sherwood R.; Hendrix, Roger W. (2015).Bacteriophage lambda: Early pioneer and still relevant. Virology, 479-480(), 310–330.doi:10.1016/j.virol.2015.02.010',),
 ('Douglas Fix (1993).The rex genes of lambda prophage modify ultraviolet light and N-methyl-N-nitrosourea-induced responses to DNA damage in Escherichia coli. , 303(4), 143–150.doi:10.1016/0165-7992(93)90015-n',),
 ('Villafane, R., Zayas, M., Gilcrease, E.B.et al.Genomic analysis of bacteriophage ε34ofSalmonella entericaserovar Anatum (15+).BMC Microbiol8, 227 (2008). https://doi.org/10.1186/1471-2180-8-227',),
 ('        Semerjian, Arlene V.; Malloy, Diane C.; Poteete, Anthony R. (1989). Genetic structure of the bacteriophage P22 PL operon. , 207(1), 1–13.         doi:10.1016/0022-2836(89)90437-3    ',)]

In [75]:
f = open('insert_citations.py', 'a',  encoding="utf-8")
f.write("insert_citations='INSERT INTO PhageOperonDB.References (Citation) VALUES (%s)'\n")
f.write("citation_records= [")
for t in insert_citations:
    t = str(t)
    f.write(t)
    f.write(',')
f.write("]")
f.close()

# Data for the Operon table

In [4]:
operon = phages_table.loc[:, 'Operon'].tolist()
operon

['gem operon',
 'Mom operon',
 'I operon',
 'lys operon',
 'P operon',
 'middle operon',
 'T7 early operon',
 'phage lambda leftward operon',
 'phage lambda rigthward operon',
 'phage lambda later operon',
 'lambda rexAB',
 'gtrABC operon',
 'PL operon']

In [5]:
id_References_for_Operon = [1,2,3,3,3,4,5,5,6,6,7,8,9]

In [10]:
f = open('insert_operons.py', 'a',  encoding="utf-8")
f.write("insert_operons='INSERT INTO PhageOperonDB.Operon (Name, idReferences) VALUES (%s, %s)'\n")
f.write("operon_records= [")
for o in range(len(operon)):
    f.write("('" + str(operon[o]) + "','" + str(id_References_for_Operon[o]) + "')")
    f.write(',')
f.write("]")
f.close()

# Data for the Organism Table

In [56]:
organisms = phages_table.loc[:, 'Organism':'Ref Seq']
organisms

                       Organism    Ref Seq
0     Entereobacteria phage Mu   NC_000929
1     Entereobacteria phage Mu   NC_000929
2     Entereobacteria phage Mu   NC_000929
3     Entereobacteria phage Mu   NC_000929
4     Entereobacteria phage Mu   NC_000929
5     Entereobacteria phage Mu   NC_000929
6       Enterobacteria phage T7  NC_001604
7   Enterobacteria phage lambda  NC_001416
8   Enterobacteria phage lambda  NC_001416
9   Enterobacteria phage lambda  NC_001416
10  Enterobacteria phage lambda  NC_001416
11         Salmonella phage P22  NC_002371
12         Salmonella phage P22  NC_002371

In [58]:
organisms = organisms.drop_duplicates(ignore_index = True)
organisms

                      Organism    Ref Seq
0    Entereobacteria phage Mu   NC_000929
1      Enterobacteria phage T7  NC_001604
2  Enterobacteria phage lambda  NC_001416
3         Salmonella phage P22  NC_002371

In [129]:
insert_organism = []
    
for o in range(len(organisms['Organism'])):
    row_list = organisms.loc[o, :].values.flatten().tolist()
    #print(row_list)
    insert_organism.append(tuple(row_list))
insert_organism

[('Entereobacteria phage Mu ', 'NC_000929'),
 ('Enterobacteria phage T7', 'NC_001604'),
 ('Enterobacteria phage lambda', 'NC_001416'),
 ('Salmonella phage P22', 'NC_002371')]

In [138]:
f = open('insert_organisms.py', 'a',  encoding="utf-8")
f.write("insert_organisms='INSERT INTO PhageOperonDB.Organism (RefSeq, Organism) VALUES (%s, %s)'\n")
f.write("organism_records= [")
for t in insert_organism:
    #print(t[1])
    #t = str(t)
    f.write("('" + t[1] + "','" + str(t[0]) + "')")
    f.write(',')
f.write("]")
f.close()

# Data for the Gene table

In [13]:
genes = phages_table.loc[:, 'Genes']
genes

0              gemA GeneID:2636256; gemB GeneID:2636272
1     Mup54 (gpCom) GeneID:2636254; Mup55 (Mom) Gene...
2     Mup32 (I) GeneID:2636253; Mup33 (Z) GeneID:263...
3     Mup22 GeneID:2636261; Mup23 GeneID:2636265; Mu...
4     Mup44 (P) GeneID:2636285; Mup45 (gp45) GeneID:...
5     Mup18 GeneID:2636281; Mup19 GeneID:2636295; Mu...
6     gene0.3 GeneID:1261063; gene0.4 GeneID:1261053...
7     N GeneID:2703540; orf28 GeneID:2703510; ral Ge...
8     cro GeneID:2703467; cII GeneID:2703494; O Gene...
9     orf-64 GeneID:2703478; S GeneID:2703479; S' Ge...
10    cI GeneID:3827059; rexa GeneID:3827058; rexb G...
11    gtrA GeneID:1262849; gtrB GeneID:1262848; gtrC...
12    24 GeneID:1262841; esc GeneID:2944229; sieB Ge...
Name: Genes, dtype: object

In [14]:
list_of_genes = []
for g in genes:
    #print(g)
    g = g.split(';')
    for i in range(len(g)):
        list_of_genes.append(tuple(g[i].split(' GeneID:')))
    #print(g)
list_of_genes

[('gemA', '2636256'),
 (' gemB', '2636272'),
 ('Mup54 (gpCom)', '2636254'),
 (' Mup55 (Mom)', '2636302'),
 ('Mup32 (I)', '2636253'),
 (' Mup33 (Z)', '2636276'),
 (' Mup34 (T)', '2636267'),
 (' Mup35 (gp35)', '2636251'),
 (' Mup36 (gp36)', '2636296'),
 (' Mup37 (gp37)', '2636286'),
 (' Mup38 (gp38)', '2636273'),
 (' Mup39 (L)', '2636269'),
 (' Mup40 (M)', '2636260'),
 (' Mup41', '2636287'),
 (' Mup42 (gp42)', '2636275'),
 (' Mup43 (N)', ' 2636283'),
 ('Mup22', '2636261'),
 (' Mup23', '2636265'),
 (' Mup24', '2636252'),
 (' Mup25', '2636263'),
 (' Mup26', '2636255'),
 (' Mup27', '2636271'),
 (' Mup28', '2636303'),
 (' Mup29', '2636304'),
 (' Mup30', '2636300'),
 (' Mup31', '2636282'),
 ('Mup44 (P)', '2636285'),
 (' Mup45 (gp45)', '2636280'),
 (' Mup46 (gp46)', '2636291'),
 (' Mup47 (gp47)', '2636250'),
 (' Mup48 (gp48)', '2636277'),
 (' Mup49 (S)', '2636293'),
 (' Mup50 (U)', '2636270'),
 ('Mup18', '2636281'),
 (' Mup19', '2636295'),
 (' Mup20', '2636298'),
 (' Mup21(C gene)', '2636301'),
 ('gene0.3', '1261063'),
 (' gene0.4', '1261053'),
 (' gene0.7', '1261070'),
 (' gene0.5', '1261051'),
 (' gene0.6B ', '1261061'),
 (' gene0.6A', '1261071'),
 (' gene1', '1261050'),
 (' gene1.2', '1261049'),
 (' gene1.1', '1261072'),
 (' gene1.3', '1261055'),
 ('N', '2703540'),
 (' orf28', '2703510'),
 (' ral', '2703473'),
 (' ea10', '2703541'),
 (' cIII', '3827056'),
 (' kil', '3827057'),
 (' gam', '2703509'),
 (' bet', '3827055'),
 (' exo', '2703522'),
 (' orf60a', '2703508'),
 (' orf63', '2703507'),
 (' orf61', '2703506'),
 (' ea22', '3827054'),
 (' ea8,5', '2703505'),
 ('locus35', '2703530'),
 ('xis', '2703504'),
 (' int', '2703470'),
 ('cro', '2703467'),
 (' cII', '2703494'),
 (' O', '3827060'),
 (' P', '2703495'),
 (' ren', '2703496'),
 (' NinB', '2703497'),
 (' NinC', '2703498'),
 (' NinD', '2703499'),
 (' NinE', '2703500'),
 (' NinF', '2703501'),
 (' NinG', '2703474'),
 (' NinH', '2703475'),
 (' NinI', '2703476'),
 (' Q', '2703477'),
 ('orf-64', '2703478'),
 (' S', '2703479'),
 (" S'", '5740919'),
 (' R', '2703480'),
 (' Rz', '2703481'),
 (' Rz1', '5739319'),
 ('cI', '3827059'),
 (' rexa', '3827058'),
 (' rexb', '2703493'),
 ('gtrA', '1262849'),
 (' gtrB', '1262848'),
 (' gtrC', '2944240'),
 ('24', '1262841'),
 (' esc', '2944229'),
 (' sieB', '1262810'),
 (' ral', '1262811'),
 (' orf78', '1262843'),
 (' orf87', '1262791'),
 (' 17', '1262789'),
 (' c3', '1262787'),
 (' kil', '1262785'),
 (' arf', '1262850'),
 (' erf', '1262800'),
 (' abc1', '1262802'),
 (' abc2', '1262804')]

In [53]:
list_idoperon_for_gene = [1,1,2,2,3,3,3,3,3,3,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,5,5,5,5,5,5,5,6,6,6,6,7,7,7,7,7,7,7,7,7,7,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,9,9,9,9,9,9,9,9,9,9,9,9,9,9,10,10,10,10,10,10,11,11,11,12,12,12,13,13,13,13,13,13,13,13,13,13,13,13,13]

In [54]:
f = open('insert_genes.py', 'a',  encoding="utf-8")
f.write("insert_genes='INSERT INTO PhageOperonDB.Gene (id, Name, Operon_id) VALUES (%s, %s, %s)'\n")
f.write("genes_records= [")
i = 0
for t in list_of_genes:
    #print(t[1])
    #t = str(t)
    f.write('("' + t[1] + '","' + str(t[0]) + '",' + str(list_idoperon_for_gene[i])  + ')')
    f.write(',')
    i += 1
f.write("]")
f.close()

# Data for the Promoter table

In [20]:
promoter = phages_table.loc[:, 'Promoter':'position']
promoter

,Promoter,position
0,pGEM promoter,(8142..8229)
1,pMom promoter,(35694..35757)
2,pI promoter,(17978..18042)
3,pLyz promoter,(10404..10467)
4,pP promoter,(27288..27352)
5,Pm promoter,(9178..9234)
6,A1 promoter; A2 promoter; A3 promoter; B promo...,(452..508); (579..636); (704..760); (1468..151...
7,PI promoter; PL1 promoter; PL2 promoter,complement(29062..29114); complement(35572..35...
8,PR promoter,(37978..38033)
9,PR' promoter,(44542..44598)
10,PRM promoter,complement(37930..37985)
11,promoter,complement(21114..21141)
12,Promoter,complement(30892..30920)

In [22]:
insert_promoter = []
    
for p in range(len(promoter['Promoter'])):
    row_list = promoter.loc[p, :].values.flatten().tolist()
    if len(row_list[0].split(';')) > 1:
        pros = row_list[0].split(';')
        pos = row_list[1].split(';')
        for pr in range(len(pros)):
            insert_promoter.append(tuple([pros[pr], pos[pr]]))
    else:
        insert_promoter.append(tuple(row_list))
insert_promoter

[('pGEM promoter', '(8142..8229)'),
 ('pMom promoter', '(35694..35757)'),
 ('pI promoter', '(17978..18042)'),
 ('pLyz promoter', '(10404..10467)'),
 ('pP promoter', '(27288..27352)'),
 ('Pm promoter', '(9178..9234)'),
 ('A1 promoter', '(452..508)'),
 (' A2 promoter', ' (579..636)'),
 (' A3 promoter', ' (704..760)'),
 (' B promoter', ' (1468..1516)'),
 (' C promoter', ' (3068..3123)'),
 (' phi1.1A promoter', ' (5821..5858)'),
 (' phi1.1B promoter', ' (5896..5933)'),
 (' phi1.3 promoter', ' (6382..6419)'),
 ('PI promoter', 'complement(29062..29114)'),
 (' PL1 promoter', ' complement(35572..35627)'),
 (' PL2 promoter', ' complement(35614..35668)'),
 ('PR promoter', '(37978..38033)'),
 ("PR' promoter", '(44542..44598)'),
 ('PRM promoter', 'complement(37930..37985)'),
 ('promoter', 'complement(21114..21141)'),
 ('Promoter', 'complement(30892..30920)')]

In [23]:
insert_operon_promoter = [1,2,3,4,5,6,7,7,7,7,7,7,7,7,8,8,8,9,10,11,12,13]

In [26]:
f = open('insert_promoter.py', 'a',  encoding="utf-8")
f.write("insert_promoter='INSERT INTO PhageOperonDB.Promoter (Name, Position, Operon_id) VALUES (%s, %s, %s)'\n")
f.write("promoter_records= [")
i = 0
for t in insert_promoter:
    #print(t[1])
    #t = str(t)
    f.write('("' + t[0] + '","' + str(t[1])  + '",' + str(insert_operon_promoter[i])  + ')')
    f.write(',')
    i += 1
f.write("]")
f.close()

# Data for the Terminator table

In [27]:
terminator = phages_table.loc[:, 'Terminator':'Position']
terminator

,Terminator,Position
0,t9.2 terminator,(9166..9206)
1,tMom terminator,(36642..36689)
2,NaN,NaN
3,tLys(b) terminator,(17907..17962); (17920..17959)
4,tP(G+) terminator; tP(G-) terminator,(33498..33537); (33498..33537)
5,tM terminator,(10370..10416)
6,TE terminator,(7552..7591)
7,tI terminator; tL1 terminator; tL2 terminator;...,complement(27533..27588); complement(34556..34...
8,tR1 terminator; tR2 terminator,(38294..38335); (40586..40629)
9,tR' terminator,(44714..44782)
10,NaN,NaN
11,terminator,complement(18214..18245)
12,NaN,NaN

In [28]:
insert_terminator = []
    
for t in range(len(terminator['Terminator'])):
    row_list = terminator.loc[t, :].values.flatten().tolist()
    if str(row_list[0]) != 'nan':
        if len(row_list[0].split(';')) > 1:
            ter = row_list[0].split(';')
            pos = row_list[1].split(';')
            for tr in range(len(ter)):
                insert_terminator.append(tuple([ter[tr], ter[tr]]))
        else:
            insert_terminator.append(tuple(row_list))
insert_terminator

[('t9.2 terminator', '(9166..9206)'),
 ('tMom terminator', '(36642..36689)'),
 ('tLys(b) terminator', '(17907..17962); (17920..17959)'),
 ('tP(G+) terminator', 'tP(G+) terminator'),
 (' tP(G-) terminator', ' tP(G-) terminator'),
 ('tM terminator', '(10370..10416)'),
 ('TE terminator', '(7552..7591)'),
 ('tI terminator', 'tI terminator'),
 (' tL1 terminator', ' tL1 terminator'),
 (' tL2 terminator', ' tL2 terminator'),
 (' tL3 terminator', ' tL3 terminator'),
 ('tR1 terminator', 'tR1 terminator'),
 (' tR2 terminator', ' tR2 terminator'),
 ("tR' terminator", '(44714..44782)'),
 ('terminator', 'complement(18214..18245)')]

In [29]:
insert_operon_terminator = [1,2,4,5,5,6,7,8,8,8,8,9,9,10,12]

In [30]:
f = open('insert_terminator.py', 'a',  encoding="utf-8")
f.write("insert_terminator ='INSERT INTO PhageOperonDB.Terminator (Name, Position, Operon_id) VALUES (%s, %s, %s)'\n")
f.write("terminator_records = [")
i = 0
for t in insert_terminator:
    f.write('("' + t[0] + '","' + str(t[1])  + '",' + str(insert_operon_terminator[i])  + ')')
    f.write(',')
    i += 1
f.write("]")
f.close()

# Data for the Org_has_Operon table

In [32]:
ref_seq_org = phages_table.loc[:, 'Ref Seq'].tolist()
ref_seq_org

['NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_001604',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_002371',
 'NC_002371']

In [42]:
ope_org = list(range(1,14))
ope_org

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [44]:
f = open('insert_org_has_ope.py', 'a',  encoding="utf-8")
f.write("insert_org_has_ope ='INSERT INTO PhageOperonDB.Organism_has_Operon (RefSeq, Operon_id) VALUES (%s, %s)'\n")
f.write("org_has_ope_records = [")
i = 0
for t in ref_seq_org:
    f.write('("' + t + '",' + str(ope_org[i])  + ')')
    f.write(',')
    i += 1
f.write("]")
f.close()

# Data for the Org_has_Gene table

In [47]:
gene_ids = []
for gi in list_of_genes:
    gene_ids.append(gi[1])
gene_ids

['2636256',
 '2636272',
 '2636254',
 '2636302',
 '2636253',
 '2636276',
 '2636267',
 '2636251',
 '2636296',
 '2636286',
 '2636273',
 '2636269',
 '2636260',
 '2636287',
 '2636275',
 ' 2636283',
 '2636261',
 '2636265',
 '2636252',
 '2636263',
 '2636255',
 '2636271',
 '2636303',
 '2636304',
 '2636300',
 '2636282',
 '2636285',
 '2636280',
 '2636291',
 '2636250',
 '2636277',
 '2636293',
 '2636270',
 '2636281',
 '2636295',
 '2636298',
 '2636301',
 '1261063',
 '1261053',
 '1261070',
 '1261051',
 '1261061',
 '1261071',
 '1261050',
 '1261049',
 '1261072',
 '1261055',
 '2703540',
 '2703510',
 '2703473',
 '2703541',
 '3827056',
 '3827057',
 '2703509',
 '3827055',
 '2703522',
 '2703508',
 '2703507',
 '2703506',
 '3827054',
 '2703505',
 '2703530',
 '2703504',
 '2703470',
 '2703467',
 '2703494',
 '3827060',
 '2703495',
 '2703496',
 '2703497',
 '2703498',
 '2703499',
 '2703500',
 '2703501',
 '2703474',
 '2703475',
 '2703476',
 '2703477',
 '2703478',
 '2703479',
 '5740919',
 '2703480',
 '2703481',
 '5739319',
 '3827059',
 '3827058',
 '2703493',
 '1262849',
 '1262848',
 '2944240',
 '1262841',
 '2944229',
 '1262810',
 '1262811',
 '1262843',
 '1262791',
 '1262789',
 '1262787',
 '1262785',
 '1262850',
 '1262800',
 '1262802',
 '1262804']

In [61]:
list_org_for_genes = organisms['Ref Seq'].tolist()
list_org_for_genes

['NC_000929', 'NC_001604', 'NC_001416', 'NC_002371']

In [69]:
org_gene = []
times_refseq = [37,10,40,16]
k = 0
for i in list_org_for_genes:
    for j in range(0,times_refseq[k]):
        org_gene.append(i)
    k += 1
org_gene

['NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_000929',
 'NC_001604',
 'NC_001604',
 'NC_001604',
 'NC_001604',
 'NC_001604',
 'NC_001604',
 'NC_001604',
 'NC_001604',
 'NC_001604',
 'NC_001604',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_001416',
 'NC_002371',
 'NC_002371',
 'NC_002371',
 'NC_002371',
 'NC_002371',
 'NC_002371',
 'NC_002371',
 'NC_002371',
 'NC_002371',
 'NC_002371',
 'NC_002371',
 'NC_002371',
 'NC_002371',
 'NC_002371',
 'NC_002371',
 'NC_002371']

In [72]:
f = open('insert_org_has_gene.py', 'a',  encoding="utf-8")
f.write("insert_org_has_gene = 'INSERT INTO PhageOperonDB.Organism_has_Gene (RefSeq, Geneid) VALUES (%s, %s)'\n")
f.write("org_has_gene_records = [")
i = 0
for t in org_gene:
    f.write('("' + t + '","' + str(gene_ids[i])  + '")')
    f.write(',')
    i += 1
f.write("]")
f.close()